contractions
docx2txt
faiss-cpu
googletrans==3.1.0a0
gpt-index
gradio
huggingface_hub
InstructorEmbedding
matplotlib
langchain
llama-index
openai
pandas
PyDrive
pypdf
pypdf2
pypdfium2
python-docx
sentence-transformers 
textract
transformers
tiktoken